@import "tailwindcss";

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-slow {
  animation: spin-slow 10s linear infinite;
}
.clip-slant {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}


/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
